.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.about-me h2 {
    font-size: 25px;
}

.about-me > .visabillity {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100vw;
}

.about-me > .visabillity > .card {
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 188, 203, 0.7);
    -webkit-filter: drop-shadow(1px 1px 1px #10123c);
    filter: drop-shadow(1px 1px 1px #10123c);
    box-shadow: 0px 0 0 2px rgba(255, 255, 255, 0.7);
    border-radius: 200px;
    padding: 5px;
    overflow: hidden;
}

.about-me > .visabillity > .card > .image {
    padding: 10px;
    display: flex;  
    align-items: center;
    justify-content: center;
}

.about-me > .visabillity > .card > .image img {
    box-shadow: 0px 0 0 2px rgba(255, 255, 255, 0.7);
    border-radius: 200px;
}

.about-me > .visabillity > .card > .text {
    font-size: 15px;
    color: #ffffff;
    -webkit-filter: drop-shadow(1px 1px 2px #10123c);
    filter: drop-shadow(1px 1px 2px #10123c);
    white-space: pre-line;
    padding: 5px;
}

@media only screen and (max-width: 800px) {
    .about-me {
        height: 100vh;
    }
    .about-me > .visabillity {
        height: 80vh;
        width: 100vw;
    }
    .about-me > .visabillity > .card {
        flex-direction: column;
        border-radius: 30px;
        padding: 5px;
        align-items: center;
        justify-content: center;
    }

    .about-me > .visabillity > .card > .image img {
        box-shadow: 0px 0 0 2px rgba(255, 255, 255, 0.7);
        border-radius: 150px;
    }
    .about-me > .visabillity > .card > .text {
        font-size: 12pt;
        color: #ffffff;
        -webkit-filter: drop-shadow(1px 1px 2px #10123c);
        filter: drop-shadow(1px 1px 2px #10123c);
        white-space: pre-line;
    }
    .about-me > .visabillity > .card > .text h2 {
        font-size: 14pt;
        text-align: center;
    }
}